.container_98 {
    margin-left: auto;
    margin-right: auto;
    width: 951px;
    font-size: 16px;
    color: #ab762d;
    padding-left: 9px;
    padding-top: 3px;
}

.container_99 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
}

.container_99 a {
    display: inline-block;
    padding-right: 28px;
    font-size: 21px;
    color: #b70083;
    font-weight: bold;
    text-decoration: none;
}

.container_99 a:hover {
    color: #ff00b7;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.PopUp {
    display: none;
}

.PopUp input, .PopUp select, .PopUp textarea {
    background-color: #ffffff;
    border: 1px solid #986b3b;
    border-radius: 3px;
    font-family: Tahoma, Arial;
    font-size: 14px;
    color: #666666;
    padding: 4px;
    margin-bottom: 6px;
    width: 350px;
}

.PopUp input:focus, .PopUp select:focus, .PopUp textarea:focus {
    border: 1px solid #ba0d86;
    color: #000000;
}

#Callback {
    width: 470px;
    padding: 30px 30px 25px 30px;
    border-radius: 10px;

}

#Callback h3 {
    color: #986b3b;
}

#Callback p {
    color: #986b3b;
    font-size: 15px;
}

.callback-button {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 8px 50px 8px 20px;
    margin-top: 10px;
}

.callback-button:hover {
    text-shadow: 0px 1px 1px #6b004d;
}
a.scrollTop{
    padding-top: 20px;
    position: fixed;
    width: 125px;
    top: 100%;
    margin-top: -55px;
    left: 300px;
    padding-bottom: 10px;
    height: 65px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(193, 196, 204);
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: #EC0014;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: -40px;
}
.bx-wrapper .bx-pager{
    text-align: center;
    padding-left: 0;
}
.bx-wrapper .bx-controls-direction a{
    margin-top: 0;
}
.bx-wrapper .bx-next{
    right: 20px;
}
.bx-wrapper .bx-prev{
    left: 20px;
}


.wrap-slider{
    /*margin-top: 40px;*/
    /*margin-bottom: 100px;*/
}

.slick-prev, .slick-next{
    background: #efeded;
    width: 53px; height: 53px;
    z-index: 9999;
    border-radius: 50%;
    top: 45%;
    color:#000;
    font-size: 25px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    background: #9f0057;
    color:#fff;
    font-size: 25px;
}
.slick-prev:hover .item-icon-arrow-left,
.slick-prev:focus .item-icon-arrow-left,
.slick-next:hover .item-icon-arrow-left,
.slick-next:focus .item-icon-arrow-left
{
    stroke: #fff;
}
.slick-prev:hover .item-icon-arrow-right,
.slick-prev:focus .item-icon-arrow-right,
.slick-next:hover .item-icon-arrow-right,
.slick-next:focus .item-icon-arrow-right
{
    stroke: #fff;
}
.slick-next{
    right: -24px;
}
.wrap-svg-arrows{
    width: 14px; position: absolute; top:14px; left: 17px;
}
.wrap-svg-arrows-1{
    width: 14px; position: absolute; top:14px; left: 20px;
}
.item-icon-arrow-left,.item-icon-arrow-right{
    fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;
}

/* the slides */
.slick-slide {
    margin: 0 14px;
}
/* the parent */
.slick-list {
    margin: 0 -14px;
}
.home-title{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 35px 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.bx-wrapper{
    margin: 0 auto 35px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    border: none;
}

.filters-char{
    margin: 0; padding: 0;
}
.filters-char li{
    display: inline-block; text-transform: uppercase;
    font-size: 16px; margin-right: 15px; cursor: pointer;
    padding: 10px 0;
}
.article ul.filters-char li:before{
    content: '';
    padding: 0;
}
.filters-char li.active{
    color: #9f0057;
}
.wrap-content-manufact{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item-lat-group{
    width: 25%; border-bottom: 1px solid #e6e6e6;
    padding-bottom: 33px;
}
.links-group{
    margin: 0; padding: 0 10px 0 0;
}
.links-group li{
    list-style-type: none;
}

.title-group{
    font-size: 25px;
    margin-top: 33px;
}


/*---------------------------FOOTER-----------------------------------------------------*/
.footer{
    max-width: 2000px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #f6f1c9;
}
.wrap-form-sub{
    padding: 20px 0;
    background-color: #dfc686;
    position: relative;
}
.error-sub{
    font-size: 12px; color: red; position: absolute; bottom: 0px;
}
.content-form-sub{
    display: flex;
    justify-content:center;
    align-items: center;
}
.content-form-sub div{
    padding: 0 5px;
}
.sub-input{
    width: 171px;
    outline: none;
    border: 1px solid #bebdc2;
    padding: 3px 5px;
}
.sub-title{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-right: 60px;
    font-weight: 600;
}
.btn-sub{
    padding: 4px 45px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #2e282a;
}
.content-wrap-bottom-menu{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.coda {
    padding-top: 30px;
    border-top: 1px solid #808080;
}
.coda p {
    font-size: 14px;
    color: #808080;
    font-family: 'Open Sans', sans-serif;
}
.links-footer-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.content-wrap-bottom-menu ul li a{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
.content-wrap-bottom-menu ul li a:hover{
    color: #000;
    text-decoration: none;
}
.open-footer-link{
    text-decoration: underline;
}
.open-footer-link:hover{
    color: #000;
}
.wrap-soc {
    display: flex;
}
.facebook, .vk, .twitter, .ok, .instagramm {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 9px;
}
.sp-p-change{
    font-size: 14px; margin-bottom: 33px;
    padding-top: 30px;
}
.footer-phone{
    font-size: 20px;
    font-weight: 500;
}
