@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic);

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}

* {
	color: #3a3d3d;
}
a{color: #3a3d3d;}

html, body {
	height: 100%;
}

body {
	font-size: 14px;
	font-family: 'Cuprum', Arial;
	line-height: 20px;
	background-color: #ffffff;
}

.white-bg {
	background-image: none;
	background-color: #ffffff;
}

.white-bg #columns {
	background-image: none;
}


.logo {
	width: 315px;
	height: 46px;
	margin-top: 64px;
	display: block;
}



#user-menu {
}

#user-menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 2px;
	
	color: #ffffff;

	background-color: #999999;
}

#user-menu a:hover {
	background-color: #ff00b7;
}

#user-menu a.selected {
	background-color: #ff00b7;
}


a#shopping-cart-link {
	/*background-image: url('../images/shopping_cart_icon.png');*/
	background-repeat: no-repeat;
	background-position: 5px 4px;
	padding-left: 25px;
}



#user-name {
	margin-right: 20px;
}


.left-column {
	position: relative;
	float: left;
/*
	width: 24%;
	min-width: 220px;
*/
	width: 220px;
}

.left-column .content {
}

.right-column {
/*
	margin-left: 24%;
*/
	margin-left: 230px;
	width: 720px;
}

.right-column .content {
	padding-left: 10px;
	padding-right: 10px;
}

.footer-block {
	margin-top: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 11px;
}





.article-content {
}

.article-content p a {
	font-weight: bold;
}

.article-content p a:hover {
	color: #798080;
}

.article-content img {
	margin-bottom: 30px;
}

.article-content small {
	font-size: 10px;
}


#header-block {
	height: 189px;
	padding-top: 13px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	background-color: #ffffff;
	background-image: url('../images/header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
}


#subheader-block {
	margin-bottom: 20px;
	text-align: right;
}

#columns {
	min-height: 100%;
	/*
	min-width: 1000px;
	*/
}

#columns2 {
}


.columns-group {
	/*
	padding-left: 3%;
	padding-right: 3%;
	*/
	width: 940px;
	margin: 0 auto;
}


#main-menu-container {
	padding-top: 77px;
}

#main-menu {
	text-align: right;
	padding-top: 0px;
}

#main-menu a {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	
	background-color: #b80084;
	color: #ffffff;
	
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 12px;
	padding-bottom: 12px;
}

#main-menu a.selected {
	color: #ffffff;
	background-color: #ff00b7;
	text-shadow: 0px 1px 1px #6b004d;
}

#main-menu a:hover {
	color: #ffffff;
	background-color: #ff00b7;
	text-shadow: 0px 1px 1px #6b004d;
}

.sub-menu-tabs {
	
}

.sub-menu-tabs li {
	padding: 5px;
	border: 1px solid #af7a2a;
	border-right: none;
	float: left;
}
.sub-menu-tabs li.active{
	background: #f4e6ae;
}

.sub-menu-tabs li a{
	text-decoration: none;
}

.sub-menu-tabs li:last-child{
	border-right: 1px solid #af7a2a;
}

.sub-menu {
	line-height: 10px;
    clear: both;
    padding-top: 15px;
}

.sub-menu li {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 15px;
	line-height: 10px;
	height: 12px;
}

.sub-menu li a {
	text-decoration: none;
	font-size: 14px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-top: 2px;
}

.sub-menu li a:hover {
	background-color: #ff00b7;
	color: #ffffff;
}

.sub-menu li a.selected {
	background-color: #ff00b7;
	color: #ffffff;
}



#tags-list {
	line-height: 10px;
}

#tags-list li {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 15px;
	line-height: 10px;
	height: 12px;
}

#tags-list li a {
	text-decoration: none;
	font-size: 13px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
}

#tags-list li a:hover {
	background-color: #ff00b7;
	color: #ffffff;
}

#tags-list li a.selected {
	background-color: #ff00b7;
	color: #ffffff;
}


#collections-list {
	line-height: 10px;
}

#collections-list li {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 15px;
	line-height: 10px;
	height: 12px;
}

#collections-list li a {
	text-decoration: none;
	font-size: 14px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
}

#collections-list li a:hover {
	background-color: #ff00b7;
	color: #ffffff;
}

#collections-list li a.selected {
	background-color: #ff00b7;
	color: #ffffff;
}

/* */

img {
}

p {
	margin-bottom: 20px;
}


.section-header {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #798080;
}


h1 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #798080;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}



.catalog-items {
}

.catalog-items li {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	font-size: 12px;
	width: 220px;
    height: 410px;
}

.catalog-items img {
/*	width: 205px;*/
	width: 220px;
	height: 330px;
	margin-bottom: 10px;
}




#catalog-item-images {
	float: left;
	width: 50px;
}

#catalog-item-images img {
	margin: 0px;
	padding: 0px;
}

#catalog-item-images li {
	margin-bottom: 15px;
	display: block;
}

#catalog-item-images .delete-image {
	display: none;
}

#catalog-item-image {
	float: left;
	margin-left: 20px;
	width: 305px;
}

#catalog-item-image img {
	width: 305px;
	margin-bottom: 10px;
}

#catalog-item-description {
	float: left;
	margin-left: 20px;
	width: 305px;
}




#catalog-filter-block {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 11px;
	height: 20px;
}

#catalog-filter-block2 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 11px;
	height: 20px;
}



.catalog-pager {
	text-align: right;
}

.catalog-pager img {
	padding: 0px;
	margin: 0px;
}

.catalog-pager .page-link {
	margin-left: 3px;
	margin-right: 3px;
}


#collections {
	margin: 0px;
}

#collections * {
	color: #FFFFFF;
}

#collections a {
	display: block;
	height: 430px;
	width: 700px;
	overflow: hidden;
	background-color: #798080;
	background-color: #000000;
	background-color: #979999;
	text-decoration: none;
	color: #ffffff;
	line-height: 120%;

	margin-bottom: 20px;
}

#collections img {
/*	border-radius: 5px;*/
}

#collections .news-text {
	color: #ffffff;
/*	font-weight: bold;*/
	position: absolute;
	z-index: 10;
	display: none;
	text-align: left;
	height: 430px;
	width: 700px;

	width: 670px;
	line-height: 120%;
}

#collections .news-text-content {
	padding: 30px;
	padding-top: 170px;
}

#collections .news-text h3 {
	font-weight: normal;
	font-size: 24px;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#collections .news-text p {
	font-size: 14px;
	line-height: 120%;
	margin-bottom: 10px;
}


.collections {
	margin: 0px;
}

.collections * {
	color: #FFFFFF;
}

.collections a {
	display: block;
	height: 430px;
	width: 700px;
	overflow: hidden;
	background-color: #798080;
	background-color: #000000;
	background-color: #979999;
	text-decoration: none;
	color: #ffffff;
	line-height: 120%;

	margin-bottom: 20px;
}

.collections img {
/*	border-radius: 5px;*/
}

.collections .news-text {
	color: #ffffff;
/*	font-weight: bold;*/
	position: absolute;
	z-index: 10;
	display: none;
	text-align: left;
	height: 430px;
	width: 700px;

	width: 670px;
	line-height: 120%;
}

.collections .news-text-content {
	padding: 30px;
	padding-top: 120px;
}

.collections .news-text h3 {
	font-weight: normal;
	font-size: 24px;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.collections .news-text p {
	font-size: 14px;
	line-height: 120%;
	margin-bottom: 10px;
}


#section-buttons {
	margin-bottom: 20px;
}

.back-link {
	padding-left: 15px;
	margin-bottom: 20px;
	text-decoration: none;
	color: #798080;
	background-image: url('../images/arrow_left_light.png');
	background-repeat: no-repeat;
	background-position: left center;

	line-height: 10px;
	display: block;

	width: 40px;

	text-transform: uppercase;

	font-size: 11px;
}

.back-link:hover {
	color: #3a3d3d;
	background-image: url('../images/arrow_left.png');
	background-repeat: no-repeat;
	background-position: left center;
}








#item-colors-set {
	margin: 0px;
	padding: 0px;
}

#item-colors-set a {
	height: 30px;
	width: 30px;
	display: block;
	padding: 2px;
	border: 1px solid #3a3d3d;
	float: left;
	margin-right: 5px;
}

#item-colors-set a:hover {
	border: 1px solid red;
}

#item-colors-set a.selected {
	border: 1px solid red;
}

#item-colors-set img {
	height: 30px;
	width: 30px;
	margin: 0px;
	padding: 0px;
}





.registration-form {
	margin-top: 40px;
}

.registration-form dt, dd {
	margin-bottom: 20px;
}

	
.registration-form dt {
	width: 200px;
	float: left;
}

.registration-form dd {
	margin-left: 20px;
}

.registration-form input[type="text"], input[type="password"] {
	width: 250px;
	margin-bottom: 8px;
}

.registration-form select {
	width: 250px;
}

.registration-form input[type="submit"] {
	margin-left: 0px;
}


.registration-form .notes {
	display: block;
}

.registration-form .notes li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 11px;
	color: #999999;
}



.reg-form-errors p {
	color: red;
}





#item-order-block {
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#item-order-block table {
}

#item-order-block th {
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-transform: uppercase;
	text-align: left;
	padding-right: 11px;
}

#item-order-block input[type=submit] {
	border: 0px;
	color: #FFFFFF;
	background-color: #b80084;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Arial;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
}

#item-order-block input[type=submit]:hover {
	background-color: #ff00b7;
	/*background-color: #ff0000;*/
}


.cart-items {
	width: 100%;
	margin-bottom: 20px;
}

.cart-items th {
	text-align: left;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
	padding-right: 10px;
	vertical-align: top;
}

.cart-items td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #cccccc;
	padding-right: 10px;
	vertical-align: top;
}

.cart-items .price-column {
	text-align: right;
	white-space: nowrap;
}

.cart-items .price-column-2 {
	text-align: right;
	border-bottom: 0px;
	white-space: nowrap;
}

.cart-items img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: block;
}


.order-link {
	border: 0px;
	color: #FFFFFF;
	background-color: #999999;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

.order-link:hover {
	background-color: #ff00b7;
}





#catalog-item-tags {
	margin-bottom: 5px;
}

#catalog-item-tags a {
	font-size: 12px;
}


.supertags-bar {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
}

.supertag {
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ff00b7;
	color: #ffffff;	
}
.supertag.disc-price{
	position: absolute;
	top:15px;
	left: 15px;
	z-index: 1000;
}

.label-wrap-product{
	position: absolute;
	bottom:45px;
	/*left: 15px;*/
	z-index: 9999;
	display: inline-block;
	right: 10px;
}
.man-wrap{
	margin: 20px 0 10px 0;
}
.man-wrap img{
	margin-bottom: 5px;
}
.phone-number{
	display: inline-block;
	padding-right: 28px;
	font-size: 21px;
	color: #b70083;
	font-weight: bold;
	text-decoration: none;
	padding-left: 189px;
}

.catalog-items .catalog-item-link {
	display: block;
	width: 220px; 
	height: 330px; 
	background-repeat: no-repeat;
	text-decoration: none;
	position: relative;
	margin-bottom: 10px;
}





#sizes-filter {
}

#sizes-filter img {
	margin: 0px;
}

#sizes-filter-list {
	display: none;
	z-index: 1000;
	position: absolute;
	min-height: 300px;
/*	min-width: 200px;*/
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

#sizes-filter-list .content {
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
}

#sizes-filter-list dt {
	float: left;
}

#sizes-filter-list dd {
	margin-left: 25px;
	margin-bottom: 5px;
}








#catalog-filter-block .column1, .column2 {
	width: 350px;
	float: left;
}



#user-block .column1, .column2 {
	float: left;
}

#user-block .column1 {
	width: 260px;
	text-align: left;
}

#user-block .column2 {
	width: 440px;
	text-align: right;
}




#user-block input[type=text] {
	width: 120px;
	border: 1px solid #cccccc;
}




a.button-link, .button-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #666666;
	font-size: 10px;
	font-weight: bold;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	
	color: #ffffff;

	background-color: #999999;

}

a.button-link:hover, .button-link:hover {
	background-color: #ff00b7;
}

a.button-link .selected, .button-link .selected {
	background-color: #3a3d3d;
}







#super-overlay {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}









#news-items {
	
}

#news-items li {
	margin-bottom: 40px;
}


#news-items h2 {
	margin: 0px;
}

.news-item-image {
	width: 700px;
	max-height: 430px;
	overflow: hidden;
	margin-bottom: 30px;
}

.news-item-image img {
	margin: 0px;
}

.news-item-title {
	text-decoration: none;
}

.news-item-date {
	font-size: 10px;
	margin-bottom: 15px;
}

.news-item-annonce a {
	text-decoration: none;
}

.details-bar {
/*	text-align: right;*/
	margin-top: 10px;
}

.details-link {
	padding-right: 15px;
	margin-bottom: 20px;
	text-decoration: none;
	color: #798080;
	background-image: url('../images/arrow_right_light.png');
	background-repeat: no-repeat;
	background-position: right center;

	line-height: 10px;
	
/*	display: block;*/
/*	width: 40px;*/

	text-transform: uppercase;

	font-size: 11px;
}

.details-link:hover {
	color: #3a3d3d;
	background-image: url('../images/arrow_right.png');
	background-repeat: no-repeat;
	background-position: right center;
}



.item-price-old {
	text-decoration: line-through;
	margin-right: 5px;
}

.item-price-current {
	color: #ff0000;
}


#item-prices-block {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}

.prod-card-size-hover {
    width: 100%;
    background: rgba(95, 94, 94, 0.7);
    height: 35%;
    position: absolute;
    bottom: 0;
    display: none;
}
.prod-card-size-hover p {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.prod-card-size-hover span {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
}


.page-catalog-pager {
	display: block;
	width: 5px;
	height: 9px;
}

.prev-enable {
	background: url('../images/catalog_prev_page.png') no-repeat;
}

.prev-disable {
	background: url('../images/catalog_prev_page_inactive.png') no-repeat;
}

.next-enable {
	background: url('../images/catalog_next_page.png') no-repeat;
}

.next-disable {
	background: url('../images/catalog_next_page_inactive.png') no-repeat;
}

.show-all-mode {
	text-decoration: underline;
	cursor: pointer;
}

ul.catalog-pagination {
	text-align: right;
}
.grey-pager {
	color: #666666;
}
ul.catalog-pagination li {
	display: inline-block;
	padding: 0 1px;
}
ul.catalog-pagination li a {
	text-decoration: none;
}
ul.catalog-pagination li.active a {
	color: #666666;
}
.product-rating {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	padding: 2px 7px;
	background: gray;
	border-radius: 5px;
	color: white;
}

.spinner {
	position: fixed !important;
}

.block {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: 50;
}
.supertag.red{
	background: red;
}