@font-face {
    font-family: 'MyriadProCondBold';
    src: url('/public/fonts/myriadpro-boldcond-webfont.eot');
    src: url('/public/fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/myriadpro-boldcond-webfont.woff') format('woff'),
         url('/public/fonts/myriadpro-boldcond-webfont.ttf') format('truetype'),
         url('/public/fonts/myriadpro-boldcond-webfont.svg#MyriadProCondBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProCondRegular';
    src: url('/public/fonts/myriadpro-cond-webfont.eot');
    src: url('/public/fonts/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/myriadpro-cond-webfont.woff') format('woff'),
         url('/public/fonts/myriadpro-cond-webfont.ttf') format('truetype'),
         url('/public/fonts/myriadpro-cond-webfont.svg#MyriadProCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {padding: 0px; margin: 0px; background-color: #e5e5e5;}
body, td, p {font-family: Tahoma, Arial, sans-serif; font-size: 16px; color: #333333;}
input, select, textarea {font-family: Arial, Helvetica, sans-serif; font-size: 12px; border: solid 1px #858a8d;}
table, td {margin: 0px; padding: 0px;}
a {font-family: Tahoma, Arial, sans-serif; color: #ed1c24; text-decoration: none;}
a:hover { text-decoration:underline;}
img {border: 0px; padding:0px; margin:0px;}
hr {background-color:#a4a4a4; border:0px none; color:#a4a4a4; height:1px;}
p {}
.ClearAll { height:1px; clear:both;}

h1 {padding: 0px; margin: 0px; font-family: MyriadProCondRegular, Arial; color: #ed1c24; background-color: #e5e5e5; font-size: 30px; font-weight: normal; text-align: center; text-transform:uppercase; display:inline-block; padding: 0px 20px 0px 20px;}
h2 {padding: 0px; margin: 30px 0px 10px 0px; color: #ed1c24; font-size: 24px; font-weight:normal; font-family: MyriadProCondRegular, Arial; text-transform:uppercase;}
h3 {padding: 0px; margin: 30px 0px 10px 0px; color: #ed1c24; font-size: 24px; font-weight:normal; font-family: MyriadProCondRegular, Arial;}
h4 {padding: 0px; margin: 20px 0px 5px 0px; color: #000000; font-size: 20px; font-weight:normal; font-family: MyriadProCondRegular, Arial;}
h5 {padding: 0px; margin: 0px 0px 20px 0px; font-family: MyriadProCondRegular, Arial;  color: #ed1c24; font-size: 22px; text-transform:uppercase; font-weight:normal;}
h6 {padding: 0px; margin: 0px 0px 20px 0px; font-family: MyriadProCondRegular, Arial;  color: #666666; font-size: 24px; text-transform:uppercase; font-weight:normal; text-align:center;}
.h1Container {padding: 0px; margin: 0px; text-align: center; border-bottom:solid 2px #ed1c24; margin-bottom:30px; height:23px;}

.Tabl		{ display:table; width:100%; border:none; padding:0px; margin:0px;}
.Tr			{ display:table-row;}
.Td, .Th	{ display:table-cell; font-size:12px;}

.Width990 { margin:0 auto; top: 0px; width: 990px;}
#Header { width:100%; height:197px; background-color:#000000;}
#Header .Title {font-family: MyriadProCondBold, Arial; color: #a4a4a4; font-size: 22px; text-transform: uppercase; margin-bottom:10px;}
#Logo { position:absolute; left:50%; margin-left: -112px; top: 0px; width: 223px;}
#Promo-1 { float:left; margin-top:30px; margin-right:60px;}
#Promo-2 { float:left; margin-top:30px;}
div[id|="Promo"] .Phones {font-family: MyriadProCondRegular, Arial; color: #a4a4a4; font-size: 22px;}


#Login { float:right; margin-top:20px; height:30px; width:364px; color:#ffffff;}
#Login input { width:152px; height:24px; border:solid 1px #676767; background-color:#000000; color:#676767; margin-right:5px; font-size:11px; font-weight:bold;}
#Login input:focus { border:solid 1px #a4a4a4; color:#f0f0f0;}
#Login #InpLogin {width:184px;}
#Login #InpPwd {width:120px;}
#Login a {font-family: MyriadProCondBold, Arial; color: #a4a4a4; font-size: 22px; text-transform: uppercase; font-weight:normal; display:inline-block;}
#Login a:hover {color: #f0f0f0; text-decoration:none;}
#Login #LinkReg, #Login #LinkForget {font-family:Arial; color: #a4a4a4; font-weight:900; font-size: 11px; text-transform: uppercase; }
#Login #LinkReg:hover, #Login #LinkForget:hover {color: #f0f0f0; text-decoration:none;}
#Login td {color:#a4a4a4; font-size:12px; font-weight:normal;}
#Login #RegWelcome {color: #f0f0f0 !important; font-weight:bold !important; padding-bottom:10px; font-size:13px !important; text-align:right; }
#Login #RegName {color: #ed1c24; font-weight:900;}


#Basket { float:right; margin-top:35px; width:364px; height:46px; background-color:#343434; vertical-align:middle; font-family: MyriadProCondRegular, Arial; color: #a8a8a8; font-size: 18px; }
#Basket .Title { display:inline-block; margin: 13px 10px 0px 12px;}
#Basket .Quantity { display:inline-block; font-family: MyriadProCondRegular, Arial; color: #f0f0f0; font-size: 30px; margin: 0px 3px 0px 0px;}
#Basket .Amount { display:inline-block; font-family: MyriadProCondRegular, Arial; color: #ed1c24; font-size: 30px; margin: 0px 3px 0px 3px;}
#TopNav { position:absolute; width:100%; margin:0 auto; top: 156px;}
#TopNav .Width990 { border-top: solid 1px #b3b3b3; position:relative;}
#TopNav a { display:block; position:absolute; font-family: MyriadProCondBold, Arial; color: #f0f0f0; font-size: 16px; text-transform:uppercase; margin-top:11px;}
#TopNav a:hover { color: #ed1c24; text-decoration:none;}
#TopNav a.here { color: #ed1c24; text-decoration:none;}
#aPart	{left:0px;}
#aServ	{left:132px;}
#aNews	{left:246px;}
#aInfo	{right:289px;}
#aComp	{right:194px;}
#aCont	{right:114px;}
#aFeed	{right:0px;}

#Footer { width:100%; background-color:#ad1719; font-family: MyriadProCondRegular, Arial; color: #e0e0e0; font-size: 18px;}
#Footer .Width990 { display:table; padding: 14px 0px 16px 0px;}
#Footer .Title { display:block; font-family: MyriadProCondBold, Arial; color: #f0f0f0; font-size: 18px; text-transform: uppercase; margin-bottom:7px;}
#Footer a {font-family: MyriadProCondRegular, Arial; color: #e0e0e0; font-size: 18px;}
#Footer a:hover {color: #ffffff; text-decoration:none;}
#Footer #Nav { display: table-cell; text-align:left; width:284px; border-right:dotted 2px #cf8485;}
#Footer #Nav .Col1 { float:left; margin-right:40px;}
#Footer #Nav .Col2 { float:left;}
#Footer #Nav a { display:block;}
#Footer #Part { display: table-cell; text-align:left; padding-left:30px;}
#Footer #Part .Col1 { float:left; margin-right:40px;}
#Footer #Part .Col2 { float:left;}
#Footer .Phone1 { display:inline-block; margin-left:10px;}
#Footer .Phone2 { display:block; margin-left:73px;}
#Footer #Serv { display: table-cell; text-align:left; padding-left:30px; width:200px; border-left:dotted 2px #cf8485;}

#Main { width:100%; min-height:200px; display:table; margin: 60px 0px 30px 0px;}
#Welcome { background:url(/public/images/main.jpg); width:990px; height:350px;}
#Welcome a {font-family: MyriadProCondBold, Arial; color: #d71920; font-size:36px; text-transform:uppercase; display:block;}
#Welcome a:hover {color: #000000; text-decoration:none;}
#Welcome #aService { float:left; margin-left:10px; margin-top:269px;}
#Welcome #aParts { float:right; margin-right:10px; margin-top:269px;}
#Banner {width:990px; margin: 30px 0px 30px 0px;}

#LeftCol { display:table-cell; vertical-align:top; width:200px; padding-right:25px; border-right:solid 1px white;}
#CabCol { display:table-cell; vertical-align:top; width:225px;}
#MainCol { display:table-cell; width:765px; padding-left:30px;}
#MainCol p { text-align:justify;}
#FullCol { display:table-cell; width:990px;}

#Entry { margin-bottom:10px; padding-bottom:10px; border-bottom:solid 1px #ad1719; width:200px;}
#Entry .Name { display:block; font-size:14px; font-weight:bold; text-transform:none; margin-bottom: 5px;}
#Entry .Picture { display:inline-block; float:left; position:relative; width:168px; height: 129px; background:url(/public/images/stamp.png); margin: 0px 20px 30px 0px;}
#Entry .Picture img { display:block; position:relative; top:13px; left:15px; box-shadow:inset 0 0 10px rgba(0,0,0,0.2);}
#Entry .Author { font-style:italic; margin-bottom: 10px;}
#Entry .Date { font-size:11px; color:#999999; margin-bottom: 5px;}
#Entry .Descr { font-size:12px; font-weight:normal; text-transform:none;}
#Entry .Descr a { font-size:12px; font-weight:normal; text-transform:none;}

.Img_in_Text { margin: 0px 0px 20px 20px;}

.Tab1 { width:100%; border-collapse: separate; border-spacing: 2px; font-size:12px;}
.Tab1 th { padding:7px; border: solid 1px #ffffff; background-color:#ffffff; vertical-align:middle; text-align:center; color:#000000; font-weight:bold;}
.Tab1 td { padding:5px; border: solid 1px #ffffff; background-color:#f0f0f0; text-align:center; vertical-align:top; color:#666666; font-size:12px; cursor:pointer;}
.Tab1 td.Name { text-align:left; font-weight:bold;}
.Tab1 tr.Even td { background-color:#e5e5e5;}
.Tab1 tr.Odd td { background-color:#f0f0f0;}
.Tab1 tr:hover td { background-color:#ffffff;}
.Tab1 td, .Tab1 th {box-shadow: 0px 0px 2px rgba(0,0,0,0.1);}
.Tab1 a { font-weight:bold; text-decoration:none;}
.Tab1 a:hover {text-decoration: underline;}

#Cab-Menu {width:200px; margin-top:0px; padding-bottom:30px;}
#Cab-Menu > a { display:block; width:175px; margin: 0px 25px 3px 0px; padding: 11px 10px 9px 15px; border-radius:3px; background-color:#000000; color:#e0e0e0; font-weight:normal; font-size:16px; font-family: MyriadProCondRegular, Arial; text-transform:uppercase;}
#Cab-Menu a:hover {background-color:#ad1719; color:#ffffff; text-decoration:none;}
#Cab-Menu > a.Dedicated { background-color:#ad1719; color:#ffffff;}
#Cab-Menu a.Dedicated:hover {background-color:#000000; color:#e0e0e0; text-decoration:none;}
#Cab-Menu select { width:200px; margin: 0px 25px 3px 0px; padding: 11px 10px 9px 15px; border-radius:3px; background-color:#000000; color:#e0e0e0; font-weight:normal; font-size:16px; font-family: MyriadProCondRegular, Arial; text-transform:uppercase; cursor:pointer;}
#Cab-Menu select:focus { background-color:#ad1719; color:#ffffff;}

/**/

.Tabl-List	{ display:table; width:100%; border:none;}
.Tabl-List .Tabl-Head	{}
.Tabl-List .Th, .Tabl-List .Td	{padding: 10px 5px 10px 5px; vertical-align:middle;}
.Tabl-List .Th	{ color:#c7c7c7; background-color:#ffffff; border-radius:3px; font-size:11px; border:solid 1px #e5e5e5; text-align:center; font-weight:bold; padding: 7px 4px 8px 4px;}
.Tabl-List .Td	{ border-bottom: solid 1px #ffffff; text-align:right; background-color:#eaeaea; }
.Tabl-List .Td:first-of-type	{ text-align:left;}
.Tabl-List .Tr:hover .Td	{ background-color:#f0f0f0;}
.Tabl-List .Product	{ text-align:left; font-weight:bold; }
.Tabl-List .Cost	{ color:#ad1719; font-weight:bold; }
.Tabl-List a { color:#000000;}
.Tabl-List a.Button { padding: 6px 10px 5px 10px; border-radius:3px; font-size:14px; margin: 0px 10px 0px 10px; font-family: MyriadProCondRegular, Arial; text-transform:uppercase;}
span.Yes	{ color:#007d0a !important; font-weight:bold; }
span.No	{ color:#005b7f; font-weight:bold; }


.Tabl-Form	{ display:table; width:100%; border:none;}
.Tabl-Form .Th, .Tabl-Form .Td	{padding:6px; vertical-align:middle;}
.Tabl-Form .Th	{ text-align:right;}
.Tabl-Form .Td	{ text-align:left;}
.Star { font-weight:bold; color: #d94125;}
.Inp { border: solid 1px #ffffff; background-color:#e5e5e5; color:#333333; width: 280px; padding:8px; font-size:12px; font-weight:bold; border-radius:3px;}
.Inp:focus { border: solid 1px #000000; background-color:#f0f0f0; color:#000000; box-shadow: 0px 0px 2px rgba(0,0,0,0.1);}
.InpWrong { border: solid 1px #d94125; background-color:#e5e5e5; color:#d94125; width: 280px; padding:8px; font-size:12px; font-weight:bold; border-radius:3px;}
.InpWrong:focus { border: solid 1px #000000; background-color:#f0f0f0; color:#000000; box-shadow: 0px 0px 2px rgba(0,0,0,0.1);}
.AreaError {display:none; border-radius:10px; background-color:#f0f0f0; margin: 0px 0px 15px 0px; padding: 15px 20px 15px 20px; color:#cc0000;}
.Descr { font-size:14px; font-weight:bold; text-transform:uppercase;}

.Tabl-Data	{ display:table; width:100%; border:none; border-radius:10px; background-color:#f0f0f0;}
.Tabl-Data .Th, .Tabl-Data .Td	{padding:6px; vertical-align:middle; width:50%}
.Tabl-Data .Th	{ text-align:right;}
.Tabl-Data .Td	{ text-align:left; font-weight:bold;}

.Area	{ border-radius:10px; background-color:#f0f0f0; padding: 10px 0px 10px 0px; margin-top:20px;}
.Area2	{ border-radius:10px; background-color:#f0f0f0; padding: 20px 20px 10px 20px; margin-top:20px; margin-bottom:30px;}
div[id|="addr"] { display:none;}
div[id|="deliv"] { display:none;}
div[id|="quest"] { display:none;}

.Total { display:block; float:right; width:300px; margin-top:10px;}
.Total .Td { font-size:14px; text-align:right; padding: 5px; white-space:nowrap;}
.Total strong { font-family: MyriadProCondRegular, Arial; color: #ed1c24; font-size:24px; font-weight:normal; text-align:right; padding: 5px;}

#OrderComment { display:block; float:left; width:360px; margin-top:20px;}
#OrderComment textarea { background-color:#f0f0f0; width:350px; padding: 4px 5px 5px 10px; border:none; border-radius:5px; font-size:14px; color:#a5a5a5; height:95px;}
#OrderComment textarea:focus {color:#000000;}

a.Del { display:inline-block; width:16px; height:16px; background: url(/public/images/icon_del.png)}
.PlusMinus { display:inline-block; white-space:nowrap;}
.PlusMinus a { display:inline-block; width:16px; text-align:center; background: #e0e0e0 linear-gradient(to top, #e0e0e0, #fefefe); color:#333333; font-size:12px; font-weight:bold; padding: 0px; border-radius:3px; box-shadow: 0px 2px 2px rgba(0,0,0,0.2); text-decoration:none;}
.PlusMinus a:hover { background: #ffffff linear-gradient(to top, #f3f3f3, #ffffff); color:#ed1c24; box-shadow: 0px 2px 3px rgba(0,0,0,0.3); text-decoration:none;}
.PlusMinus .Amount { border: solid 1px #f3f3f3; background-color:#f3f3f3; color:#000000; width: 27px; height:17px; font-size:12px; font-weight:bold; text-align:center;}
.PlusMinus .Amount:focus { border: solid 1px #ffffff; background-color:#ffffff; color:#8a3d30;}

.Buttons { width:100%; text-align:center; margin: 20px 0px 20px 0px;}
a.Button { display:inline-block; padding: 6px 30px 5px 30px; background: #ad1719 linear-gradient(to top, #ae181a, #ef292d); color:#ffffff; border-radius:3px; font-size:16px; margin: 0px 10px 0px 10px; text-shadow: 1px 1px 0px rgba(0,0,0,0.3); box-shadow: inset -0px -2px 5px rgba(0,0,0,0.1), 0px 2px 4px rgba(0,0,0,0.3); font-family: MyriadProCondRegular, Arial; text-transform:uppercase;}
a.Button:hover { background: #ed1c24 linear-gradient(to top, #dc1c23, #fb3240); box-shadow: inset -0px -2px 5px rgba(0,0,0,0.2), 0px 2px 4px rgba(0,0,0,0.5); text-decoration:none;}

a.Button2 { display:inline-block; padding: 6px 30px 5px 30px; background: #754c24 linear-gradient(to top, #6d4621, #d38941); color:#ffffff; border-radius:3px; font-size:16px; margin: 0px 10px 0px 10px; text-shadow: 1px 1px 0px rgba(0,0,0,0.3); box-shadow: inset -0px -2px 5px rgba(0,0,0,0.1), 0px 2px 4px rgba(0,0,0,0.3); font-family: MyriadProCondRegular, Arial; text-transform:uppercase;}
a.Button2:hover { background: #ed1c24 linear-gradient(to top, #89592a, #dca14e); box-shadow: inset -0px -2px 5px rgba(0,0,0,0.2), 0px 2px 4px rgba(0,0,0,0.5); text-decoration:none;}

#ProdTabl { display:table; width:100%; border:none; padding: 0px 0px 20px 0px; margin:0px; border-bottom:solid 1px #ffffff;}
#ProdImg { display:table-cell; width:200px; padding-right:30px; vertical-align:top;}
#ProdData { display:table-cell; vertical-align:top;}
#ProdName { font-family: MyriadProCondBold, Arial; color: #000000; font-size:24px; font-weight:normal; text-transform:uppercase; }
#ProdTech { margin-top:20px;}
#ProdTech .Th { padding: 5px 15px 5px 0px; font-family: MyriadProCondRegular, Arial; color:#a0a0a0; font-size:16px; white-space:nowrap;}
#ProdTech .Td { padding:5px; color:#000000; font-size:14px;}
#ProdTech .Cost { font-family: MyriadProCondRegular, Arial; color: #ed1c24; font-size:30px; font-weight:normal;}
#ProdTech .Deliv { display:inline-block; float:right; color:#a0a0a0; font-size:14px;}
#ProdTech .Buy { display:inline-block; float:right;}
#ProdTech .Buy a.Button { padding: 6px 30px 5px 30px; border-radius:3px; font-size:14px; font-family: MyriadProCondRegular, Arial; text-transform:uppercase; margin-right:0px;}

div[id|="Car"] { display:inline-block; width:225px; margin-right:30px; vertical-align:top; min-height:180px; padding: 100px 0px 20px 0px; border-bottom:solid 1px white;}
#Car-Kia { background:url(/public/images/car-kia.jpg) #eaeaea top no-repeat;}
#Car-Hyu { background:url(/public/images/car-hyu.jpg) #eaeaea top no-repeat;}
#Car-Ssa { background:url(/public/images/car-ssa.jpg) #eaeaea top no-repeat;}
#Car-Dae { background:url(/public/images/car-dae.jpg) #eaeaea top no-repeat; margin-right:0px;}
div[id|="Car"] a { display:block; width:225px; margin-left:20px; font-size:18px; color:#000000; margin-bottom:2px;}
div[id|="Car"] a:hover {color:#ed1c24; text-decoration:underline;}

.WhiteBg { background-color:#ffffff; border-radius:3px; padding: 20px 0px 20px 0px;}
#Tabl-Search { margin: 0px 15px 5px 15px;}
#Tabl-Search td { padding: 0px 15px 10px 15px; vertical-align:top;}
#Tabl-Search .vLong { background-color:#e5e5e5; width:450px; padding: 4px 5px 5px 10px; border:none; border-radius:2px; font-size:18px; color:#a5a5a5;}
#Tabl-Search input[type=file] { color:#c2c2c2;}
#Tabl-Search select.vLong { color:#c2c2c2;}
#Tabl-Search textarea { height:123px;}
#Tabl-Search input.vLong:focus {color:#000000;}
.Lef { padding-right:30px;}

#SearchBg { background-color:#ffffff; border-radius:3px; padding:5px; height:30px; margin-bottom:30px;}
#SearchString { float:left;}
#SearchImg { float:right;}
#SearchString input { background-color:#ffffff; width:650px; padding: 4px 5px 5px 10px; border:none; font-size:18px; color:#a5a5a5; font-style:italic;}
#SearchString input:focus { color:#666666; font-style:normal;}

#SearchImg a { display:inline-block; padding:7px;}
#SearchImg img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5+*/
	-moz-opacity: 0.3; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.3; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.3; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
	}
#SearchImg a:hover {}
#SearchImg a:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
	-moz-opacity: 1; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
	opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
	}

#Photos { width:100%;}
#Photos td { text-align:center; padding:10px;}
/*#Photos td:last-of-type		{ text-align:right; padding: 10px 0px 10px 10px;}*/
/*#Photos td:first-of-type	{ text-align:left; padding: 10px 10px 10px 0px;}*/
#Photos a { display:inline-block; border:solid 1px rgba(0,0,0,0.1);}
#Photos a:hover { border:solid 1px rgba(0,0,0,1);}
#Photos a img {border:solid 2px #ffffff;}

.PopUp { min-width:500px;}
.PopUp #Basket { float:none; margin-top:23px; width: 100%; height:46px; background-color:#343434; vertical-align:middle; font-family: MyriadProCondRegular, Arial; color: #a8a8a8; font-size: 18px; }

.Message {border-radius:10px; background-color:#ffffff; padding: 15px 20px 5px 20px; margin-bottom:20px;}
.MesImage { display:inline-block; float:left; width:90px;}
.MesTitle { font-size:17px; font-weight:bold; color:#ad1719;}
.MesDate { font-size:12px; font-weight: normal; color:#999999; margin: 10px 0px 10px 0px;}
.MesText { border-top: solid 1px #ad1719;}
.MesText p { font-size:14px; line-height:1.3; text-align:justify;}
.Sign { text-align:right !important; font-style:italic;}

.QA {border-radius:10px; background-color:#f0f0f0; padding: 15px 20px 5px 20px; margin-bottom:20px; cursor: pointer;}
.QA:hover {background-color:#ffffff; cursor: pointer;}
.QAImage { display:inline-block; float:left; width:40px;}
.QATitle { display:inline-block;  font-size:17px; font-weight:bold; color:#ad1719;}
.QADate { display:inline-block;  font-size:12px; font-weight: normal; color:#999999; margin: 10px 0px 10px 20px;}
.QAQuestion { border-top: solid 1px #ad1719; padding: 10px 0px 10px 0px; margin-left:40px;}
.QAQuestion p { font-size:14px; line-height:1.3; text-align:justify;}
.QAAnswer { border-top: solid 1px #ad1719; padding: 10px 0px 10px 0px; margin-left:40px; font-size:12px;}
.QAAnswer p {font-size:12px !important;}
.QAAnswer p.Sign { text-align:right !important; font-style:italic; font-size:12px !important; margin-bottom:0px;}

#CabCol b { font-size:14px;}

.Month { width:100%; border-spacing: 0px; empty-cells:hide; background-color:#000000; border-radius:3px; font-size:12px; font-weight:bold; color:#ffffff; padding: 6px 10px 6px 10px; margin-bottom:2px;}
.Month .Mon { text-align:center; color:#ffffff; font-size:12px; width:100%;}
.Month .Pre { text-align:left;}
.Month .Nex { text-align:right;}
.Month .Pre a, .Month .Nex a { font-size:12px; color:#ffffff; }
.Month .Pre a:hover, .Month .Nex a:hover { color:#ed1c24; text-decoration:none; }

.Calend { width:100%; border-spacing: 2px; empty-cells:hide;}
.Calend .Date { font-size:12px; text-align:center;}
.Calend .Date a { display:block; width:100%; background-color:#ffffff; border-radius:2px; font-weight:bold; color:#444444; padding: 5px 0px 5px 0px;}
.Calend a.Past { background-color:#f2f2f2; font-weight:normal; color:#999999;}
.Calend a.Past:hover { text-decoration:none; cursor:default;}
.Calend a.Sunday { background-color:#cccccc; font-weight:normal;}
.Calend a.Sunday:hover { text-decoration:none; cursor:default;}
.Calend a.Current { background-color:#ad1719; color:#ffffff;}
.Calend a.Current:hover { background-color:#ed1c24; text-decoration:none;}
.Calend a.Red { background-color:#e4d4d5;}
.Calend a.Red:hover { background-color:#ad1719; color:#ffffff; text-decoration:none;}
.Calend a.Yel { background-color:#ecebd2;}
.Calend a.Yel:hover { background-color:#ffcc00; color:#ffffff; text-decoration:none;}
.Calend a.Gre { background-color:#e1f4e4;}
.Calend a.Gre:hover { background-color:#00a651; color:#ffffff; text-decoration:none;}

#Zakl { display:table; width:100%; border-bottom: solid 2px #ad1719;}
#Zakl .Td { padding: 0px 2px 0px 2px; text-align:center;}
#Zakl .Td:first-of-type { padding-left: 0px;}
#Zakl .Td:last-of-type { padding-right: 0px;}
#Zakl .Name { font-family: MyriadProCondBold, Arial; color: #000000; text-transform:uppercase; font-size:14px; }
#Zakl .Red {color: #ad1719; font-size:12px; }
#Zakl .Gre {color: #00a651; font-size:12px; }
#Zakl .Yel {color: #ffaa00; font-size:12px; }
#Zakl a { display:block; background-color:#f2f2f2; border-radius: 3px 3px 0px 0px; padding: 10px 3px 10px 3px; }
#Zakl a:hover, #Zakl a.Now { background-color:#ad1719; text-decoration:none;}
#Zakl a:hover .Name, #Zakl a:hover .Red, #Zakl a:hover .Yel, #Zakl a:hover .Gre { color:#ffffff;}
#Zakl a.Now .Name, #Zakl a.Now .Red, #Zakl a.Now .Yel, #Zakl a.Now .Gre { color:#ffffff;}
/*
.Serv { display:table; width:100%;}
.Serv .Tr { border-bottom: solid 1px #ffffff;}
.Serv .Td { padding:2px; text-align:center; width:20%;}
.Serv .Td div { padding: 7px 2px 7px 2px; text-align:center; height:38px;}
.Serv .Time { background-color:#eaeaea; font-size:12px; border:solid 1px #e5e5e5; }
.Serv .Red { background-color:#e4d4d5; font-size:12px; padding-top:20px; }
.Serv .Gre {background-color:#e1f4e4; font-size:12px; }
.Serv .Yel {background-color:#ecebd2; font-size:12px; }
.Serv .Gre a, .Serv .Yel a {font-size:12px; text-transform:uppercase; font-weight:bold; color:#444444; border-bottom:dotted 1px #444444; }
.Serv .Gre a:hover, .Serv .Yel a:hover { color:#ed1c24; border-bottom:dotted 1px #ed1c24; text-decoration:none; }
*/
.Serv { width:100%; border-spacing: 3px; empty-cells:hide;}
.Serv td, .Serv th { padding: 7px 2px 10px 2px; text-align:center; font-size:12px; background-color:#eaeaea;}
.Serv th { background-color:#ffffff; color:#c7c7c7;}
.Serv td.Red { background-color:#e4d4d5;}
.Serv td.Gre {background-color:#e1f4e4;}
.Serv td.Yel {background-color:#ecebd2;}
.Serv td a {font-size:12px; text-transform:uppercase; font-weight:bold; color:#444444; border-bottom:dotted 1px #444444; }
.Serv td a:hover { color:#ed1c24; border-bottom:dotted 1px #ed1c24; text-decoration:none; }

.PopUp {display: none; width:700px;}
.PopUp > p { padding: 10px 0px 15px 0px; line-height: 1.5;}

.News { margin-top:20px;}
.News .Name { color: #ed1c24; font-size: 24px; font-weight:normal; font-family: MyriadProCondRegular, Arial; margin-bottom: 5px;}
.News .Date { font-size:14px; color:#999999; margin-bottom: 5px;}
.News .Descr { font-size:16px; font-weight:normal; text-transform:none;}
.News .Descr a { font-weight:normal; text-transform:none;}

.errorMessage{
    color: red;
    font-weight: bold;
}
.success-flash{
    border-radius: 5px;
    background-color: #e6ffec;
    margin: 0px 0px 15px 0px;
    padding: 15px 20px 15px 20px;
    color: #00a651;
}

.prod-card-size-hover {
    width: 100%;
    background: rgba(95, 94, 94, 0.7);
    height: 50%;
    position: absolute;
    bottom: 0;
}